{% extends "parent.html" %}
{% block body %}
{% load static%}
    <div class="container-fluid p-5 bg-light mt-5 mb-5" style="width: 1000px;">
		<h2 style="color:#1b0885;">Job Seekers Registration Form</h2><br/>
<form action="{% url 'saveapplicant' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
				<label>Applicant Name : </label>
				<input type="text" class="form-control" placeholder="Enter Your Name" required name="applicantname">
			</div>
        <label>Select Gender : &nbsp;</label>
            <div class="form-check-inline">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="gender" value="Male">Male
  </label>
</div>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="gender" value="Female">Female
  </label>
</div>
    <div class="form-group">
  <label>Address :</label>
  <textarea class="form-control" rows="5" name="address"></textarea>
</div>
     <div class="form-group">
				<label>Enter City Name : </label>
				<input type="text" class="form-control" placeholder="Enter Your Name" required name="city">
			</div>
     <div class="form-group">
				<label>Enter Country Name : </label>
				<input type="text" class="form-control" placeholder="Enter Your Name" required name="country" value="India">
			</div>
     <div class="form-group">
				<label>Enter Contact No. : </label>
				<input type="text" class="form-control" placeholder="Enter Your Name" required name="contactno">
			</div>
     <div class="form-group">
				<label>Enter Email Address : </label>
				<input type="email" class="form-control" placeholder="Enter Your Name" required name="emailaddress">
			</div>
     <div class="form-group">
				<label>Enter Qualification : </label>
				<input type="text" class="form-control" placeholder="Enter Your Name" required name="qualification">
			</div>
     <div class="form-group">
				<label>Enter Experience in Years : </label>
				<input type="text" class="form-control" placeholder="Enter Your Name" required name="experience">
			</div>
     <div class="form-group">
  <label>Enter Keyskills :</label>
  <textarea class="form-control" rows="5" name="keyskills"></textarea>
</div>
    <div class="form-group">
				<label>Enter Date of Birth : </label>
				<input type="date" class="form-control" placeholder="Enter Your Name" required name="dob">
			</div><br/><br/>
    <button type="submit" class="btn p-3 text-white" style="background:#1b0885; width:900px; font-weight:bold;">REGISTER</button>
        </div>
</form>
    </div>
{% endblock body %}